extends layout

block content
  h2.h2 Tracks
  h3.h3 Add
  div
    form(action='/tracks',method='post').border.rounded
      div.form-group
        label(for="movie") Movie name
        input(type='text', name='movie', required, placeholder="ex. Back to the future")#movie
      br
      button(type='submit').btn.btn-primary Submit
  br
  h3.h3 List
  div
    table.table
      thead
        th Movie
        th Actions
      tbody
        each track in tracks
          tr
            td=track.movie
            td
              a(href='tracks/'+track._id)
                i.fa.fa-search-plus
                